table {
  width: 100%;
  margin: 16px 0px;
}

table tr {
  background-color: #fff;
}

table th,
table td {
  padding: 8px;
  text-align: center;
}

table th {
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  table {
    padding: 0 8px;
  }
}

@media screen and (max-width: 600px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 2px solid #16a085;
    display: block;
    margin-bottom: 16px;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
