@import "../node_modules/normalize.css/normalize.css";

body {
  font-family: "Roboto";
  font-weight: 400;
  background-color: #ecf0f1;
}

#root {
  margin: 0 auto;
  max-width: 960px;
}

@import "./styles/header";
@import "./styles/search";
@import "./styles/table";